<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
  <div>
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="email">Введите Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Добавить пользователя">
  </div>
</form>

</body>
</html>